<p id="notice"><%= notice %></p>

    <div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @listing.image.url %><br/>
        
		        
		        <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-primary' %>
		        <%= link_to 'Back', listings_path, class: 'btn btn-default' %>
		        
			
      </div><!--/.thumbnail -->
	</div><!--/.col-md-6 -->
	<div class="col-md-6">

		<h3><%= @listing.name %></h3>
	        
	    <span class="badge"><%= number_to_currency @listing.price %></span>
		<p><%= @listing.description %></p>

	</div><!--/.col-md-6 -->
